<article class="main">
  <h2>Album Edit</h2>

  <form action="/albums/ <%= @album.id %>" method="post">

    <label for="title"></label>
    <input type="text" name="title" id="title" value="<%= @album.title %>" />

    <label for="artist"></label>
    <select name="artist_id" id="artist_id">
      <% for artist in @artists %>
        <option value="<%= artist.id %>"
          <%= "selected" if artist == @artists %>
          >
        <%= artist.name %></option>
      <% end %>
    </select>

    <label for="stock_level"></label>
    <input type="number" name="stock_level" value="<%= @album.stock_level %>">

    <input class="btn" type="submit" value="Edit Album">

  </form>

  <br>
  <br>
  <br>

</article>
