<article class="main">

  <h2><%= @album.title %></h2>
  <h3><%= @album.artist.name %> </h3>
  <h4><%= @album.stock_level%> in stock.</h4>


  <form action="/albums/<%= @album.id %>/edit" method="get">
    <input type="submit" value="Edit Album">
  </form>

  <form action="/albums/<%= @album.id %>/delete" method="post">
    <input type="submit" value="Remove Album">
  </form>

  <br>
  <br>
  <br>

</article>
